* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

body {
  display: grid;
  min-height: 100vh;
  background-color: black;
  background-image: url("./images/skyBackgroundFlipped.jpg");
  background-size: cover;
  color: white;
  text-shadow: black 0 0 4px;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 64px;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.displayNone {
  display: none !important;
}

.opacityZero {
  opacity: 0 !important;
}

.currentWeather.main {
  display: grid;
}

.currentWeather .conditionText {
  font-size: 2rem;
}

.currentWeather .locationName {
  font-size: 1.2rem;
  font-weight: bold;
}

.currentWeather .temp {
  font-size: 3rem;
  font-weight: bold;
}

.currentWeather .conditionIcon {
  margin: 0 2rem;
}

.currentWeather.details {
  grid-row: 2/3;
  display: grid;
}

.feelsLikeContainer,
.humidityContainer,
.chanceOfRainContainer,
.windSpeedContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  justify-content: start;
  align-content: center;
  align-items: center;
  margin-top: 8px;
  column-gap: 8px;
}

.feelsLikeContainer .icon,
.humidityContainer .icon,
.chanceOfRainContainer .icon,
.windSpeedContainer .icon {
  grid-row: 1/-1;
  font-size: 2rem;
  align-self: center;
}

.feelsLike,
.humidity,
.chanceOfRain,
.windSpeed {
  font-size: 1.2rem;
  font-weight: bold;
}

#locationSearchForm {
  grid-column: 2/-1;
  display: grid;
  column-gap: 24px;
  grid-template-columns: auto auto;
  justify-content: center;
  align-content: start;
  font-size: 2rem;
}

#locationSearchForm > .searchBar {
  border-bottom: 2px solid white;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 8px;
}

.changeUnits {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  user-select: none;
}

.changeUnits > span {
  padding: 8px;
}

.changeUnits > span.selected {
  font-weight: bold;
}

.changeUnits > span:not(.selected) {
  cursor: pointer;
}

input {
  appearance: none;
  background: none;
  border: none;
}

input:focus {
  outline: none;
}

.searchBar input {
  width: 100%;
}

.searchBar > button {
  width: 3rem;
  aspect-ratio: 1/1;
  background: none;
  cursor: pointer;
  margin: 4px;
  border: none;
}

.errorMsg {
  grid-column: 2/-1;
  display: grid;
  color: rgba(255, 0, 0, 0.7);
  font-size: 75%;
  padding: 8px;

  animation-name: fade-in-slide;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.nextDaysWeather {
  display: grid;
  justify-content: start;
  align-content: center;
  justify-items: center;
  text-align: center;
  margin-left: 64px;
}

.nextDaysWeather .dayOfWeek {
  font-size: 1.2rem;
  margin-bottom: 16px;
}

.nextDaysWeather .tempHigh {
  font-size: 1.5rem;
  font-weight: bold;
}

.hourlyWeather {
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: auto auto;
  align-content: end;
  padding-top: 8px;
}

.hourlyWeather > .header {
  padding: 8px;
  border-bottom: 2px solid white;
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: start;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.hourlyWeather > .header > div {
  padding: 4px;
  display: grid;
  margin: 4px;
}

.hourlyWeather > .header > .leftArrow,
.hourlyWeather > .header > .rightArrow {
  cursor: pointer;
  transition: 0.6s ease;
  border-radius: 25%;
  user-select: none;
}

.hourlyWeather > .header > .leftArrow:hover,
.hourlyWeather > .header > .rightArrow:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.hourlyWeather > .header > .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border: 2px solid white;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.hourlyWeather > .header > .dot.selected,
.hourlyWeather > .header > .dot:hover {
  background-color: white;
}

.hourlyWeather .slide {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.oneHourWeather {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 32px 0 0;
}

.oneHourWeather .hourTime {
  margin-bottom: 8px;
}

.oneHourWeather .temp {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer {
  position: absolute;
  left: 8px;
  bottom: 8px;
  color: rgba(255, 255, 255, 0.25);
}

/* Animations */

.fadeIn {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInSlide {
  animation-name: fade-in-slide;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-slide {
  0% {
    opacity: 0;
    transform: translate(16px, -8px);
  }
  100% {
    opacity: 1;
  }
}

/* Media Screen: Height and Landscape */

@media only screen and (max-height: 950px) and (orientation: landscape) {
  /* Copied form (max-width: 1000px) */
  html {
    font-size: 80%;
  }
}

/* Media Screen: Width and Landscape */

@media only screen and (max-width: 1000px) and (orientation: landscape) {
  html {
    font-size: 80%;
  }
  .content {
    padding: 48px;
  }
}

/* Media Screen: Width */

@media only screen and (max-width: 850px) {
  .content {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    padding: 32px;
  }
  #locationSearchForm {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .currentWeather.main {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .currentWeather.details {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .nextDaysWeather {
    grid-row: 2/4;
  }
}

@media only screen and (max-width: 650px) {
  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }
  #locationSearchForm {
    grid-template-columns: auto 1fr;
  }
  .nextDaysWeather {
    grid-column: 2/-1;
    grid-row: auto;
    justify-content: center;
    margin-left: 0;
  }
  .hourlyWeather .header {
    justify-content: center;
  }
  .hourlyWeather .slide {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  .oneHourWeather {
    grid-template-columns: 1fr auto auto;
    align-items: center;
    margin: 16px 10% 0;
    gap: 16px;
  }
  .oneHourWeather .hourTime {
    justify-self: start;
    font-size: 1.5rem;
  }
  .oneHourWeather .temp {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 550px) {
  .searchBar {
    grid-column: 1/-1;
  }
  .errorMsg {
    grid-column: 1/-1;
  }
  .oneHourWeather {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 60%;
  }
  .searchBar {
    grid-column: 1/-1;
  }
  .errorMsg {
    grid-column: 1/-1;
  }
  .oneHourWeather {
    margin: 0 !important;
  }
}

/* Media Screen: Portrait */

@media only screen and (orientation: portrait) {
  .content {
    padding: 32px;
  }
  /* Copied from (max-width: 850px) */
  #locationSearchForm {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .currentWeather.main {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .currentWeather.details {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .nextDaysWeather {
    grid-row: 2/4;
  }
  /* Copied from (max-width: 650) */
  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }
  #locationSearchForm {
    grid-template-columns: auto 1fr;
  }
  .nextDaysWeather {
    grid-column: 2/-1;
    grid-row: auto;
    justify-content: center;
    margin-left: 0;
  }
  .hourlyWeather .header {
    justify-content: center;
  }
  .hourlyWeather .slide {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  .oneHourWeather {
    grid-template-columns: 1fr auto auto;
    align-items: center;
    margin: 16px 10% 0;
    gap: 16px;
  }
  .oneHourWeather .hourTime {
    justify-self: start;
    font-size: 1.5rem;
  }
  .oneHourWeather .temp {
    font-size: 1.8rem;
  }
}
